<style>
  header {
    background-color: #f2e9e1;
    color: #fff;
    padding: 10px 0;
        }
  nav ul {
    list-style: none;
    padding: 30px;
    text-align: right;
        }
  nav ul li {
    display: inline;
    margin-right: 20px;
        }
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
        }
  logo {
    text-align: left;
  }
</style>
<header class="site-header">

  <div id="header">
    <nav>
      <ul>
        <li class="logo"><a href="{{site.baseurl}}/index.html"></a><img src="https://github.com/tarasehdave/frontend/assets/39902320/b45b109a-87a3-493c-af94-8a99ee47483f" width="100"></li>
        <li class="fork"><a href="{{site.baseurl}}/index.html" style="color: #ab9784">Home</a></li>
        <li class="fork"><a href="{{site.baseurl}}/user.html" style="color: #ab9784">User</a></li>
        <li class="fork"><a href="{{ site.baseurl }}/inventory.html" style="color: #ab9784">Shop All</a></li>
        <li class="fork"><a href="{{ site.baseurl }}/list.html" style="color: #ab9784">Grocery List</a></li>
        <li class="title"><a href="#" style="color: #ab9784">Order</a></li>
        <li class="fork"><a href="{{site.baseurl}}/compsci" style="color: #ab9784">Timebox</a></li>
        <li class="title"><a href="{{ site.github.repository_url }}#readme" style="color: #ab9784">GitHub</a></li>
      </ul>
    </nav>
  </div><!-- end header -->
</header>