<style>
  #header {
    font-size: 20px;
  
  }
</style>
<header class="site-header">

  <div id="header">
    <nav>
      <ul>
        <li class="fork"><a href="{{site.baseurl}}/index" style="color: #ab9784">Home</a></li>
        <li class="fork"><a href="{{site.baseurl}}/user" style="color: #ab9784">User</a></li>
        <li class="fork"><a href="{{site.baseurl}}/list" style="color: #ab9784">Grocery List</a></li>
        <li class="title"><a href="{{site.baseurl}}/order" style="color: #ab9784">Order</a></li>
        <li class="fork"><a href="{{site.baseurl}}/compsci" style="color: #ab9784">Timebox</a></li>
        <li class="title"><a href="{{ site.github.repository_url }}#readme" style="color: #ab9784">GitHub</a></li>
      </ul>
    </nav>
  </div><!-- end header -->
</header>