<style>
  #header {
    font-size: 20px;
  
  }
  nav ul {
    list-style: none;
    padding: 30px;
    text-align: right;
        }
  nav ul li {
    display: inline;
    margin-right: 20px;
        }
 nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
        }
</style>
<header class="site-header">

  <div id="header">
    <nav>
      <ul>
        <li class="fork"><a href="{{site.baseurl}}/index.html" style="color: #ab9784">Home</a></li>
        <li class="fork"><a href="#" style="color: #ab9784">User</a></li>
        <li class="fork"><a href="{{ site.baseurl }}/inventory.html" style="color: #ab9784">Shop All</a></li>
        <li class="fork"><a href="{{ site.baseurl }}/list.ipynb" style="color: #ab9784">Grocery List</a></li>
        <li class="title"><a href="#" style="color: #ab9784">Order</a></li>
        <li class="fork"><a href="{{site.baseurl}}/compsci" style="color: #ab9784">Timebox</a></li>
        <li class="title"><a href="{{ site.github.repository_url }}#readme" style="color: #ab9784">GitHub</a></li>
      </ul>
    </nav>
  </div><!-- end header -->
</header>